<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ardalis.GuardClauses" version="4.0.1" targetFramework="net472" />
  <package id="ini-parser" version="2.5.2" targetFramework="net472" />
  <package id="JetBrains.Annotations" version="2021.3.0" targetFramework="net472" />
  <package id="Splat" version="14.6.8" targetFramework="net472" />
</packages>